    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Projects</h2>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{ PROJECTS[0]['link'] }}" class="btn btn-default btn-lg"> <span class="network-name">{{ PROJECTS[0]['name'] }}</span></a>
                </li>
                <li>
                    <a href="{{ PROJECTS[1]['link'] }}" class="btn btn-default btn-lg"><span class="network-name">{{ PROJECTS[1]['name'] }}</span></a>
                </li>
                <li>
                    <a href="{{ PROJECTS[2]['link'] }}" class="btn btn-default btn-lg"><span class="network-name">{{ PROJECTS[2]['name'] }}</span></a>
                </li>
            </ul>
        </div>
    </div>


