/*!
 */

body {
    width: 95%;
    height: 93.5%;
    font-family: 'Merriweather', serif;
    margin-left: 2.5%;
    margin-top: 2.5%;
    line-height: 24px;
    color: #222;
    font: normal 14px/24px "Merriweather", Georgia, sanserif;
    background: #e8e6e3;
}


html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 50px 0 25px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 200;
    font-stretch: normal;
    font-size: 20px;
    line-height: normal;
    font-family: "Source Sans Pro", Georgia, serif;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    color: #1481b8;
    margin: 20px 0 15px -38px;
    padding: 0 0 2px 30px;
    border-left: solid 8px #d9eaf2;
}

.footnotes > hr {
    border-top-width: 0px;
}

div.entry-content {
  overflow: visible;
  padding: 0px;
}

.entry-content h1 {
    font: 300 40px "Source Sans Pro", Georgia, serif;
}
.entry-content h2,
.comments h2 {
    font: 300 30px "Source Sans Pro", Georgia, serif;
}
.entry-content h3 {
    font: 300 20px "Source Sans Pro", Georgia, serif;
}


.intro-header-article h1 {
    font-size: 60px;
    border-bottom: solid 1px #eeeeee;
}
.post-meta {
    font-size: 10px;
}

article p {
    /*text-align: justify;*/
    -ms-word-break: break-word;
     /* Non standard for webkit */
     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

aside {
  color: #868279;
  padding: 10px 10px;
  background: #faf8f5;
  border: solid 1px #f7f4ed;
  border-bottom: solid 1px #f0e9db;
  border-radius: 3px; }
  aside h2 {
    color: #9e9b94;
    font-size: 24px;
    border: none;
    margin: 20px 0 10px 0;
    padding: 0; }
  aside p, aside li {
    font: 15px/22px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
  aside li {
    line-height: 20px; }
  aside > p:first-child {
    margin-top: 0; }
  aside > p:last-child {
    margin-bottom: 0; }
  aside ul, aside ol {
    padding: 0 0 0 18px; }
  aside code {
    color: #666;
    font: normal 13px "Source Code Pro", Menlo, Consolas, Monaco, monospace; }
  aside img {
    padding: 0; }

aside + aside {
  margin-top: 10px; }

@media only screen and (min-width: 800px) {
.page {
  padding-right: 300px; }

aside {
    position: absolute;
    /* height: 100px; */
    border-radius: 0;
    border-left: solid 8px #f0e9db;
    margin-top: -height;
    margin-top: -24%;
    margin-right: -50%;
    margin-left: 100%;
    padding-left: 22px;
    aside p, aside li {
        font: 14px/20px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        }
    }
}

#about p {
    text-align: justify;
}
p {
    margin: 0 0 25px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


@media(min-width:768px) {
    p {
        margin: 35px 0px;
    }
}

a {
    color: #1481b8;
    text-decoration: none;
    outline: none;
    border-bottom: solid 1px rgba(209, 236, 250, 0);
    transition: color 0.2s ease, border-color 0.2s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: solid 1px #d1ecfa;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom.top-nav-collapse {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}


.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #42dca3;
}

.navbar-custom.top-nav-collapse .nav li a:hover {
    outline: 1;
    color: #42dca3;
}

.navbar-custom.top-nav-collapse div.custom-location-at-top {
  display: none !important;
}

.navbar-custom.top-nav-collapse .custom-location-at-top {
  display: none;
}


@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom a {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse a {
        color: #000;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
    }
}

.intro {
    margin-bottom: 5em;
    height: auto;
    width: 100%;
    text-align: center;
    background: no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: white;
    /*background-color: #03ABF4;*/
    /*padding: 50px 0 50px 0;*/
    border-radius: 25px 25px 0px 0px;
}

.content-block {
    /*margin-top: 2.5%;
    margin-bottom: 5%;*/
    /*padding-top: 0em;
    padding-bottom: 5%;*/
    background-color:white;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    border-radius: 25px;
}

.content-block .index-content-block {
    /*padding-top: 2.5em;*/
}

.intro-header-article {
 /*   background:  no-repeat bottom center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    /*padding: 10rem 0 10rem 0;*/
    border-radius: 25px 25px 0px 0px;
    background-color: white;
}

.intro .intro-body {
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 60px;
    color: black;
}

.intro-header-article .article-heading {
    color: black;
}

.intro-header-article .last-updated {
    color: black;
    font-family: "Source Sans Pro", Georgia, serif;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    color: black;
}

.intro-header-article .article-subheading {
    /*font-family: 'Permanent Marker', cursive;*/
}

@media(min-width:768px) {
    .intro {
        height: 100%;
    }
/*
    .intro .intro-body .brand-heading {
        font-size: 40px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
*/
}

pre {
    background-color: white;
    border: 0px solid #ccc;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.shadow, .arrow-up, .arrow-left, .arrow-down, .arrow-right { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }

 .arrow-up, .arrow-left, .arrow-down, .arrow-right { height: 3rem; width: 3rem; background: white; border-radius: 50%; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

@media(min-width:768px) {

     .arrow-up, .arrow-left, .arrow-down, .arrow-right {
    margin-left: 15px; margin-top: 8px; margin-bottom: 8px; display: inline-block;
    }

    .navbar-custom.top-nav-collapse .arrow-up, .navbar-custom.top-nav-collapse .arrow-left, .navbar-custom.top-nav-collapse .arrow-down, .navbar-custom.top-nav-collapse .arrow-right {
    margin-left: 15px; margin-top: 8px; margin-bottom: 8px; display: inline-block;
    }

    .navbar-custom:not(.top-nav-collapse) a.arrow-up.page-scroll.custom-location-not-at-top {
      display: none;
    }

    .navbar-custom.top-nav-collapse a.arrow-down.page-scroll.custom-location-at-top {
      display: none;
    }

    .top-nav-collapse a.arrow-right.custom-location-at-top {
      display: none;
    }

    .top-nav-collapse a.arrow-left.custom-location-at-top {
      display: none;
    }

    .navbar-collapse.collapse.blog-navbar{
      display: none !important;
    }
}

@media(max-width:767px) {
     .arrow-up, .arrow-left, .arrow-down, .arrow-right {
        display: none;
    }
}

.arrow-up:hover, .arrow-left:hover, .arrow-down:hover, .arrow-right:hover { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4); -webkit-transform: scale(1.06); -ms-transform: scale(1.06); -o-transform: scale(1.06); transform: scale(1.06); }

.arrow-up::after, .arrow-left::after, .arrow-down::after, .arrow-right::after { content: ''; display: inline-block; background: url(../img/arrow.png) center no-repeat; height: 3rem; width: 3rem; background-size: 100%; opacity: 0.5; }

.arrow-left::after { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }

.arrow-up::after { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.arrow-right::after { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.rotate-flip {
    -moz-transform: rotate(-180deg);
     -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.rotate-left {
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about {
    padding-top: 0px;
}

.fixed-action-btn {
    position: absolute !important;
    padding-top: 5% !important;
    bottom: auto;
    right: auto;
}


.intro .fixed-action-btn {
    top: 17.5em;
}
.intro .fixed-action-btn.scrolled {
    top: 15%;
}

.background-color {border-radius: 50px}

.background-color, .customcolor { background-color: darkblue; }
.customcolor:hover { background-color: #092AF6; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.fixed-action-btn.scrolled a:hover {
    background-color: #092AF6;
}
.fixed-action-btn.scrolled {
    position: fixed !important;
    right: auto;
    bottom: auto;
}
.intro-header-article .fixed-action-btn.scrolled {
    position: fixed !important;
    top: 2em;
    right: auto;
    bottom: auto;
}

.fixed-action-btn ul {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: auto !important;
}
ul {
    list-style-type: inline !important;
    }

ul li {
    list-style-type: inherit !important;
    }

@media(min-width:767px) {
    #about {
        padding-top: 0px;
    }

    .content-section {
        padding-top: 250px;
        padding-bottom: 250px;
    }
}

.intro-header-article .fixed-action-btn {
    margin-left: -5%;
}

@media(min-width:992px){
    .intro-header-article .fixed-action-btn {
        margin-left:-7.5%
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid darkblue;
    color: darkblue;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #092AF6;
    outline: 0;
    color: #fff;
    background-color: #092AF6;
}

ul.banner-social-buttons {
    margin-top: 0;
}


/* Search bar */

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

.fixed-action-btn .search-button{
display: none
}

.fixed-action-btn.active .search-button{
display: block
}

.search-button {
    left: 15%;
    position: fixed;
    width: 70%;
    z-index: 2;
    display: none
}

.search-button.active {
    display: block
}

input[type=search] {
	    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 95% center;
    border: solid 1px #ccc;
    margin-left: 5%;
    padding: 0px 0px 0px 5%;
    width: 85%;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:hover, input[type=search]:focus {
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Perma link in article */
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    text-decoration: none;
    visibility: visible;
}
a.headerlink {
    padding-left: .5em;
    visibility: hidden;
}
h1:hover > a.anchor-link,
h2:hover > a.anchor-link,
h3:hover > a.anchor-link,
h4:hover > a.anchor-link,
h5:hover > a.anchor-link,
h6:hover > a.anchor-link,
dt:hover > a.anchor-link {
    text-decoration: none;
    visibility: visible;
}
a.anchor-link {
    padding-left: .5em;
    visibility: hidden;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

.avatarBox img {
    object-fit: cover;
    height: 256px;
    width: 256px;
    border-radius: 256px;
    border: 3px solid white;
    background-size: cover;
 }

@media(max-width:767px) {

    .intro-header-article .fixed-action-btn {
        position: fixed !important;
        top: 2em;
    }

    .intro-header-article .fixed-action-btn.scrolled {
        top: 2em;
    }

    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding-bottom: 20px;
    font-size: .8em;
}

footer p {
    margin: 0;
}


img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

div[aria-expanded="true"] {
   background-color: black;
}

#notebook-container {
    width: 100%;
}

figcaption {
    clear: left;
    margin: .75em 0;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    display: block;
}
