{% extends 'base.html' %}


{% block analytics %}
{{ super() }}
<script>
    mixpanel.track("Page", {"Name": "Blog", "url": "{{output_file}}" }) ;
</script>
{% endblock analytics %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header-article">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    {% block fab %}
                    <div class="col-sm-2 fixed-action-btn">
                        <a href='{{SITEURL}}/' class="btn-floating btn-large white page-scroll">
                      <i class="md-dark material-icons">keyboard_arrow_left</i>
                    </a>
                    </div>
                    {% endblock fab %}
                    <div class="col-sm-10 col-sm-offset-2">
                    <h1 class="article-heading">Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for article in dates %}
            <div class="post-preview">
                    <a class="blog-index-title" href="{{ SITEURL }}/{{ article.url }}"><h1 class="post-title">{{ article.title }}</h2>
                    {%if article.subtitle %} <h2 class="post-subtitle">{{ article.subtitle }} </h3>{% endif %} </a>
                    <p class="post-meta">Posted on <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
                </div>
              <div class="entry-content">{{ article.summary }}</div>
                <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}" class="waves-effect waves-light btn btn-default"><i class="material-icons right"></i>Read On</a>
            {% endfor %}
           </div>
        </div>
    </div>
{% endblock content %}

{% block jscripts %}
{{super()}}
{% endblock jscripts %}

{% block back_link %}/{% endblock back_link %}
